<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="mb-4">Company Name</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="mb-4">Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="mb-4">Contact Us</h5>
        <p>Email: info@example.com</p>
        <p>Phone: +1 234 567 890</p>
        <p>Address: 123 Street, City, Country</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p>&copy; 2024 Company Name. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
