<html lang="en">
    {{> head}}
<body>
    {{> navbar}}
    <div class="container">
        {{!-- content --}}
        {{{ body }}}

        {{!-- footer --}}
        <footer>
            {{> footer}}
        </footer>
    </div>
</body>
</html>